<!-- Comment out the content in this file when an announcement is not published at the top of the site. -->
<!-- When an announcement is not posted, use the following boilerplate text: Add announcement here -->

{% extends "base.html" %}

{% block announce %}
  <div style="text-align: center;"><b>⚠️Attention (February 5, 2023):</b> In Windows 11, the Zune driver does not automatically install after plugging in the device. I'm currently troubleshooting the issue and will update these instructions after I find and confirm a resolution.</div>
{% endblock %}
